

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css');

body {
	background-color: #43475A;

}


h1,h2,h4 {color: #F8F8F1;}
p		{color: #F8F8F1;}
p		{font-family: Georgia, serif;}
a		{color: lightgreen;}





img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.fa-mastodon {
  color: #F8F8F1;
}

.fa-twitter {
  color: #F8F8F1;
}

.fa-tiktok {
  color: #F8F8F1;
}

.fa-apple {
  color: #F8F8F1;
}

.fa-google {
  color: #F8F8F1;
}

.fa-spotify {
  color: #F8F8F1;
}

.fa-rss {
  color: #F8F8F1;
}